// Tipografía
$fuente: 'Montserrat', sans-serif;

// Colores
$verde: #4cB8B3;
$rosa: #f53756;
$amarillo: #FEF46D;
$morado: #753f97;
$negro: #000000;
$blanco: #FFFFFF;

body {
    background-color: $rosa;
}